.signup{
  background-size: cover;
  }
  .sign {
    height: 100vh;
    background-image: url("C:\\Users\\91994\\Downloads\\Untitled design (3).gif");
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #cccccc77;
    border-radius: 20px;
    background-color: #f7f3f3d7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height:450px;
  width: 500px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  